.header {
    background-color: #222;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    z-index: 1030;

    .row {
        padding: 20px 0;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        &__groupUl {
            display: flex;
            
            &__li {
                a {
                    display: inline-block;
                    color: #fff;
                    padding:0 10px;
                    font-weight: 300;
                    @include type-1(20);
                }
            }
        }
    }

    &__lupa {
        display: flex;
        align-items: center;

        ul {
            display: flex;

            li {
                margin: 0 10px;
                a {
                    color: #00a4ff;
                    font-weight: 700;
                    @include type-1(20);
                }
            }
        }
    }
}