@import '../../assets/fonts/fonts.css';

$font-1: 'Roboto', sans-serif;

// Função de CONVERTER PX to EM
@function em($pixel, $contexto: 16) {
    @return $pixel / $contexto + em;
}

// Mixins TIPOGRAFIA
@mixin type-1($size){

    font-family: $font-1;
    @if $size == 10 {
        font-size:em(10);
    }
    @else if $size == 11 {
        font-size:em(11);
    }
    @else if $size == 12 {
        font-size:em(12);
    }
    @else if $size == 14 {
        font-size: em(14);
    }
    @else if $size == 15 {
        font-size: em(15);
    }
    @else if $size == 16 {
        font-size: em(16);
    }
    @else if $size == 17 {
        font-size: em(17);
    }
    @else if $size == 18 {
        font-size: em(18);
    }
    @else if $size == 24 {
        font-size: em(24);
    } 
    @else if $size == 20 {
        font-size: em(20);
    }
    @else if $size == 25 {
        font-size: em(25);
    }
    @else if $size == 30 {
        font-size: em(30);
    }
    @else if $size == 35 {
        font-size: em(35);
    }
    @else if $size == 40 {
        font-size: em(40);
        line-height: 45px;
    }
    @else if $size == 45 {
        font-size: em(45);
    }
    @else if $size == 50 {
        font-size: em(50);
    }
    @else if $size == 56 {
        font-size: em(56);
    }
    @else if $size == 60 {
        font-size: em(60);
        line-height: 80px;
    }
}