/* Geral */
body {
    height: 2000px;
    @include type-1(16);
}

* {
    margin: 0px;
    padding: 0px;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
}

ul,li {
    list-style: none;
}

/* End Geral */